html {
    scroll-behavior: smooth;
}

body {
    color: white;
    background-color: rgb(20, 94, 155);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin-inline: auto;
    padding-inline: 15px;
}

@media (min-width: 769px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}